@model UpdateCarDto
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Araç Güncelleme Sayfası</h4>
						<p class="card-subtitle mb-4">Araç ile ilgili bilgileri eksiksiz doldurmanız önemlidir. Veri Girişinden sonra Kaydet butonuna basınız</p>

						<form method="post">
							<input type="hidden" asp-for="CarId" />
							<div class="form-group">
								<label for="exampleInputBrand">Marka</label>
								@Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="exampleInputModel">Model</label>
								<input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputCoverImgUrl">Kapak Fotoğrafı</label>
								<input type="text" class="form-control" id="exampleInputCoverImgUrl" asp-for="CoverImgUrl" placeholder="Fotoğraf Linkini Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputBigImageUrl">Büyük Kapak Fotoğrafı</label>
								<input type="text" class="form-control" id="exampleInputBigImageUrl" asp-for="BigImageUrl" placeholder="Büyük Fotoğraf Linkini Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputKm">Araç Kilometresi</label>
								<input type="text" class="form-control" id="exampleInputKm" asp-for="Km" placeholder="KM Bilgisi Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputTransmission">Vites Türü</label>
								<input type="text" class="form-control" id="exampleInputTransmission" asp-for="Transmission" placeholder="Vites Bilgisi Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputSeat">Koltuk Sayısı</label>
								<input type="number" class="form-control" id="exampleInputSeat" asp-for="Seat" placeholder="Koltuk Bilgisi Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputLugage">Bagaz Hacmi </label>
								<input type="number" class="form-control" id="exampleInputLugage" asp-for="Lugage" placeholder="Bagaj Hacini Giriniz">
							</div>
							<div class="form-group">
								<label for="exampleInputFuel">Yakıt Türü </label>
								<input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakıt Türü Giriniz">
							</div>
							<button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
						</form>

					</div> <!-- end card-body-->
				</div>
			</div>
		</div>
	</div>
</div>

